<section class="main_container" id="agenda">
  <div class="row">
	  <div class="col-md-12">
    	<h3><%= t.agenda.title %></h3>
		<a id="sched-embed" data-sched-sidebar="no" href="https://condatos2017.sched.com/grid/">ConDatos - AbreLatam - 2017</a><script type="text/javascript" src="https://condatos2017.sched.com/js/embed.js"></script>
	  </div>
  </div>
</section>