<section class="main_container" id="agenda">
  <a id="ogp_logo_mobile" href="#">ConDatos/AbreLatam</a>
  <div class="row">
    <h1><%= t.agenda.title %></h1>
    <a id="sched-embed" data-sched-sidebar="no" href="http://ogpmontevideo.sched.org/grid/">mobile app</a>
    <script type="text/javascript" src="http://ogpmontevideo.sched.org/js/embed.js"></script>
  </div>
</section>
