<section class="main_container" id="agenda">
  <a id="ogp_logo_mobile" href="#">Open Goverment Partnership</a>
  <div class="row">
    <h1><%= t.agenda.title %></h1>
    <a id="sched-embed" href="http://ogpmontevideo.sched.org/grid/">View the OGP Montevideo mobile app</a><script type="text/javascript" src="http://ogpmontevideo.sched.org/js/embed.js"></script>
  </div>
</section>
