<section class="container content-section">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t.fellows.title %></h1>
      <p>
        <%= t.fellows.content %>
      </p>
    </div>
    <%= erb :volver %>
  </div>
</section>
