<section class="container content-section">
  <div class="row">
    <div class="col-md-12">

      <h1>Becarios</h1>
      <p>
        Tendrán prioridad para el apoyo en viajes y hospedaje aquellas personas que hayan sido seleccionadas para roles de ponentes o facilitadores y no cuenten con los medios para acceder al evento por cuenta propia. Para el resto de las personas seleccionadas se aplicarán los mismos principios detallados para la selección de ponentes y facilitadores.
      </p>
    </div>
  </div>
</section>
