<section class="container content-section">
  <div class="row">
    <div class="col-md-12">
      <%= erb :volver_top %>
      <h1><%= t.contact.title %></h1>
      <h2><%= t.contact.content %></h2>
    </div>
  </div>
</section>
