<section class="container content-section">
  <div class="row">
    <div class="col-md-12">

      <h1>Criterios de selección</h1>
      <h2>Ponentes y facilitadores</h2>
      <p>
        En el formulario de llamado a ponentes, temas de interés y solicitud de becas invitamos a que cada asistente cuente al comité académico cuál podría ser su aporte en hasta tres temas que podrían abordarse en el evento. Una vez que se cuente con la lista de temas que más interesan a los asistentes del evento, se seleccionarán a grupos de personas de entre los propuestos u otros invitados que el comité académico considere pertinentes en base a:
        <ul>
          <li>Vínculo con e involucramiento en proyectos de los temas seleccionados, historias, experiencias y aprendizajes valiosos para compartir.</li>
          <li>Diversidad de visiones, posturas y perspectivas sobre el tema.</li>
          <li>Diversidad de países y regiones representados en la sesión.</li>
          <li>Diversidad de sectores, actores y grupos sociales representados en la sesión.</li>
          <li>Diversidad de género.</li>
        </ul>
      </p>
      <p>
        Los roles de facilitación se ofrecerán a personas que se hayan ofrecido a asumir tal responsabilidad, condición que también será tenida en cuenta al momento de la selección. Cualquiera de los grupos formados por sesión puede optar por compartir el rol o cambiar a al persona designada como facilitador mediante consenso.
      </p>
    </div>
    <%= erb :volver %>
  </div>
</section>
