<section class="main_container event4" id="evento_page">

  <div class="row">
    <div class=" heading-block">
      <div>
        <span class="hero-heading-top">
          <span class="fa fa-calendar-o base-clr-txt"></span>
                        21 de Agosto           

          <span class="fa fa-clock-o base-clr-txt"></span>
                        9 AM - 5 PM 

          <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>
                        Selina Co-work                        
        </span>
        <h1 class="hero-heading-main">
                        DATA BOOTCAMP</h1>
        <span class="hero-heading-bottom">
                     Talleres, Retos y Expediciones de Datos        
        </span>
        <p class="hero-heading-description"> Un día antes de iniciar AbreLatam-ConDatos la comunidad de Escuela de Datos trae un día lleno de talleres y ejercicios para la apertura y uso de datos
        </p>
      </div>
    </div>
  </div>    
    
  <div class="row">
    <div class="col-md-12">
      <div class="schedule">
        <div class="tab-content">
          <div class=" schedule-info">
            <h2><i class="fa fa-list" aria-hidden="true"></i> TEMAS</h2>           
          </div>          
          <div class="tab-pane fade in active">
            <div class="tab-content tab-content-schedule">
              <div class="tab-pane fade in active">
                <div class="panel-group" id="timeline"> 

                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a href="" class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        1- Limpieza y extracción de datos
                      </strong>
                    </a>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a href="" class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        2- Análisis de datos, estadística, visualización
                      </strong>
                    </a>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a href="" class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        3- Narrativa de datos
                      </strong>
                    </a>
                  </div>
                </div>
              </div>      
            </div>
            <div class=" schedule-info text-center">      
              <p class=""><a href="http://bit.ly/DataBootCamp_CR" target="_blank" class="btn outline-btn register_btn">Inscripción </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="venu_info">
        <div class="venu_icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <h2>Ubicación</h2>
        <p> 
            <strong>Selina Co-work Carlos Monge Alfaro</strong>
        </p>
        <p> 
            Avenida 9, Barrio Otoya (al lado de Café Mundo)
        </p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="venu_map">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=selina%20co-work%2C%20san%20jose&key=AIzaSyDuuljpIiwZqFjJwI4W5pFkucZVghlNIG4" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>


  <div id="partners">
    <div class="row">
      <div class="col-md-3">
        <div>
          <a href="https://es.schoolofdata.org/" target="_blank">
            <img src="img/escueladedatos.jpg" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <a href="https://www.opengovpartnership.org/" target="_blank">
            <img src="img/opengovpartnershipeng.png" class="img-responsive">
          </a>
          </a>
        </div>
      </div>    
      <div class="col-md-3">
        <div>
          <a href="http://www.selina.com/cowork/" target="_blank">
            <img src="img/selina.jpg" class="img-responsive">
          </a>
        </div>
      </div>     
      <div class="col-md-3">
        <div>
          <a href="https://socialtic.org/" target="_blank">
            <img src="img/socialtic.png" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>