<section class="main_container" id="evento_page">

  <div class="row">
    <div class="text-center heading-block">
      <div class="container">
        <span class="hero-heading-top">
          <span class="fa fa-calendar-o base-clr-txt"></span>
                        21/08           

          <span class="fa fa-clock-o base-clr-txt"></span>
                        9 AM - 5 PM 

          <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>
                        Selina Co-work                        
        </span>
        <h1 class="hero-heading-main">
                        DATA BOOTCAMP</h1>
        <span class="hero-heading-bottom">
                     Talleres, Retos y Expediciones de Datos        
                    <h3> TEMAS </h3>
                    <ul> 
                       <li>Limpieza y extracción de datos</li>
                       <li>Análisis de datos, estadística, visualización</li>
                       <li>Narrativa de datos</li>
                    </ul>
        </span>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="venu_info">
        <div class="venu_icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <h2>Ubicación</h2>
        <p> 
            <strong>Selina Co-work Carlos Monge Alfaro</strong>
        </p>
        <p> 
            Avenida 9, Barrio Otoya (al lado de Café Mundo)
        </p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="venu_map">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=selina%20co-work%2C%20san%20jose&key=AIzaSyDuuljpIiwZqFjJwI4W5pFkucZVghlNIG4" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>

</section>