<section class="main_container event6" id="evento_page">

  <div class="row">
    <div class=" heading-block">
      <div>
        <span class="hero-heading-top">
          <span class="fa fa-calendar-o base-clr-txt"></span>
                        22 de Agosto                

          <span class="fa fa-clock-o base-clr-txt"></span>
                        7:00 PM                         
          <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>
                        Centro cultural de España                                   
        </span>
        <h1 class="hero-heading-main">DATA <span class="hero-art">ART_</span></h1>
        <span class="hero-heading-bottom">
                     Arte basado en datos.      
        </span>
        <ul class="text-left hero-heading-description">
          <li>Llega a Costa Rica la exposición Data ART, que traduce investigaciones periodísticas basadas en datos en piezas de arte.</li>
          <li>La muestra está compuestas por seis piezas de profesionales de diferentes medios de El Salvador, Guatemala y Brasil que abordan temáticas como las desapariciones forzadas, la violencia hacia la mujer o la desigualdad en la región.</li>
        </ul>
      </div>
    </div>
  </div>    
    
  <div class="row">
    <div class="col-md-12">
      <div class="schedule">
        <div class="tab-content">
          <div class=" schedule-info">
            <h2><i class="fa fa-paint-brush" aria-hidden="true"></i> DETALLES</h2>           
          </div>          
          <div class="tab-pane fade in active">
            <div class="tab-content">
            <p> <strong>¿Es el texto periodístico el único y último eslabón de un proceso de investigación de datos?</strong> DATA ART es un ejercicio de visualización de bases de datos periodísticas en piezas de arte visual. Un experimento que une el trabajo de periodistas y artistas visuales.</p>  
            <p>
               Desde febrero 2017, un equipo de periodistas de El Faro, El Diario de Hoy y La Prensa Gráfica inició en El Salvador un proceso de exploración para traducir sus reportajes en arte. El resultado fueron cuatro piezas diversas que tocan fibras sensibles de la realidad regional como la violación a menores, desapariciones y exilios. A estos proyectos se sumaron los trabajos del periodista Daniel Villatoro desde Guatemala y de Gênero Número desde Brasil, ambos exitosos ejercicios de arte basado en datos. 
           </p>
            <p>
              Todos ellos conformaron la primera exposición de Data ART en Centroamérica que se inauguró en mayo en el Teatro Luis Poma de San Salvador como parte de las actividades del Foro Centroamericano de Periodismo que organiza el periódico digital El Faro. Estas piezas artísticas representan temáticas como violencia, desapariciones, desigualdad, género y cultura; mezclan técnicas del arte plástico, arte performático y nuevas tecnologías y vinculan a periodistas con artistas de toda índole. 

              Bienvenidos a este pequeño museo de arte y periodismo. Este proyecto es posible gracias al apoyo de Hivos y de la Fundación Poma.
            </p>
            </div>  
            <div class=" schedule-info text-center">      
              <p class=""><a href="https://www.facebook.com/events/1806893226307446/?ti=cl" target="_blank" class="btn outline-btn register_btn">CONFIRMAR ASISTENCIA </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="venu_info">
        <div class="venu_icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <h2>Ubicación</h2>
        <p>El Farolito - Centro cultural de España</p>
      </div>
    </div>

    <div class="col-md-8">
      <div class="venu_map">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJjc0A4H3joI8Rxd5qPEGh2hQ&key=AIzaSyDuuljpIiwZqFjJwI4W5pFkucZVghlNIG4" frameborder="0" style="border:0" allowfullscreen="">          
        </iframe>
      </div>
    </div>

  </div>

  <div class="row text-center">
    <strong>Información y contacto:</strong> Cristina Algarra, Productora  - Foro Centroamericano de Periodismo   <a href=\"mailto:calgarra@elfaro.net\" target=\"_top\">calgarra@elfaro.net</a> | TEL: +503 7910 2623
  </div>

  <div id="partners">
    <div class="row">

      <div class="col-md-4">
        <div>
          <a href="https://www.hivos.org/"  target="_blank">
            <img src="img/hivos.jpg"   alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <a href="http://fundacionpoma.org/"  target="_blank">
            <img src="img/poma.jpg"   alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>


      <div class="col-md-4">
        <div>
          <a href="http://forocap.elfaro.net/es/2017"  target="_blank">
            <img src="img/farocap.png"   alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>
          <a href="http://www.ccecr.org/"  target="_blank">
            <img src="img/centroculturalespana.jpg"   alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>