<section class="main_container event8" id="evento_page">

  <div class="row">
    <div class=" heading-block">
      <div>
        <span class="hero-heading-top">
          <span class="fa fa-calendar-o base-clr-txt"></span>
                        24 de Agosto                

          <span class="fa fa-clock-o base-clr-txt"></span>
                        8:30 PM - 11:00 PM                         
          <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>
                        Impact Hub                           
        </span>
        <h1 class="hero-heading-main">Datos y  <span class="hero-art">Chiliguaros</span></h1>
        <span class="hero-heading-bottom">
        </span>
      </div>
    </div>
  </div>    
    
  <div class="row">
    <div class="col-md-12">
      <div class="schedule">
        <div class="tab-content">
          <div class=" schedule-info">
            <h2><i class="fa fa-list" aria-hidden="true"></i> DETALLES</h2>           
          </div>          
          <div class="tab-pane fade in active">
            <div class="tab-content">
            <p> 
                    En el marco del 5° encuentro #Abrelatam17 y ConDatos tendremos #DatosyChiliguaros.
                    Aparta la fecha y conoce proyectos dateros por hackers cívicos, developers, transparentólogxs, infoactivistas, periodistas, curiosxs por los datos de toda América Latina.     
            </p>
            <p><small>Entrada libre, con previo registro</small></p>
            </div>  
            <div class=" schedule-info text-center">      
              <p class=""><a href="http://bit.ly/DatosyChiliguaros_Ago" target="_blank" class="btn outline-btn register_btn">CONFIRMAR ASISTENCIA </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="venu_info">
        <div class="venu_icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <h2>Ubicación</h2>
        <p>Impact Hub - Avenida 12, San Pedro</p>
      </div>
    </div>

    <div class="col-md-8">
      <div class="venu_map">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=pin%20Ocultar%20mapa%20Impact%20Hub%20San%20Jos%C3%A9%20Avenida%2012%2C%20San%20Pedro%2C%20San%20Jose&key=AIzaSyDuuljpIiwZqFjJwI4W5pFkucZVghlNIG4" frameborder="0" style="border:0" allowfullscreen="">          
        </iframe>
      </div>
    </div>

  </div>


  <div id="partners">
    <div class="row">

      <div class="col-md-4">
        <div>
          <a href="http://www.impactico.org/"  target="_blank">
            <img src="img/impactico.png"   alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>


      <div class="col-md-4">
        <div>
          <a href="https://www.estudiomanati.com/" target="_blank">
            <img src="img/manati.jpg" class="img-responsive">
          </a>
          </a>
        </div>
      </div>


      <div class="col-md-4">
        <div>
          <a href="https://okfn.org/"  target="_blank">
            <img src="img/openknowledge.png"   alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>

    </div>

    <div class="row">


      <div class="col-md-4">
        <div>
          <a href="https://socialtic.org/" target="_blank">
            <img src="img/socialtic.png" class="img-responsive">
          </a>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <a href="https://es.schoolofdata.org/" target="_blank">
            <img src="img/escueladedatos.jpg" class="img-responsive">
          </a>
          </a>
        </div>
      </div>

    </div>
  </div>

</section>