<section class="main_container" id="evento_page">

  <div class="row">
    <div class="text-center heading-block">
      <div class="container">
        <span class="hero-heading-top">
          <span class="fa fa-calendar-o base-clr-txt"></span>
                        22/08              
                                        
          <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>
                        Manuel María de Peralta                         
        </span>
        <h1 class="hero-heading-main">
                        GOBCAMP DE DATOS ABIERTOS</h1>
        <span class="hero-heading-bottom">
                     <strong>Facilita:</strong> Departamento para la Gestión Pública Efectiva (DGPE), Organización de los Estados Americanos (OEA)

        </span>
          <p class="hero-heading-description">      Con su incepción en el 2013, el GobCamp de Datos Abiertos se lleva a cabo con el apoyo del Departamento
          para la Gestión Pública Efectiva de la OEA en el marco de las conferencias regionales anuales Abrelatam y
          Condatos. Desde entonces, se ha percibido importantes avances en la temática en América Latina. El ecosistema
          regional se ha expandido y especializado, junto a una agenda regional de Datos Abiertos antes inexistente. A su
          vez, los gobiernos han adoptado compromisos en la materia, como lo son entre otros a través de la Alianza para
          el Gobierno Abierto, la Carta Internacional de Datos Abiertos y con la generación de políticas nacionales de datos.
          Para materializar esta agenda, los países, a través del grupo de trabajo regional de datos abiertos que acoge este
          GobCamp y que apoya la Iniciativa Latinoamericana por los Datos Abiertos (ILDA), co-crean para establecer los
          compromisos regionales que se elevan a las Reuniones Ministeriales de Gobierno Electrónico de América Latina y el
          Caribe en el marco de la OEA. Es así, que el GobCamp de Datos Abiertos de San José permitirá evaluar a los
          países el progreso de esta agenda frente a los compromisos del Grupo de Trabajo de Datos Abiertos Red Gealc
          del 2017 y trabajar hacia la construcción colectiva de la agenda regional de datos abiertos del 2018.
          </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="schedule">
        <div class="tab-content">
          <div class="text-center schedule-info"><h2><i class="fa fa-calendar" aria-hidden="true"></i> AGENDA</h2></div>          
          <div class="tab-pane fade in active">
            <div class="tab-content tab-content-schedule">
              <div class="tab-pane fade in active">
                <div class="panel-group" id="timeline">
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a href="" class="schedule-item-toggle collapsed featured-time">
                      <strong class="time highlight">
                        <i class="icon fa fa-clock-o"></i>9:00 AM
                      </strong>
                      <h6 class="title"><strong>Inicio:</strong> saludo de introducción, orden del día e instrucciones
                      </h6>
                    </a>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#timeline" href="#timeline_time0" class="schedule-item-toggle">
                      <strong class="time highlight">
                        <i class="icon fa fa-clock-o"></i>9:15 AM
                      </strong>
                      <h6 class="title"><strong>Reagrupándonos:</strong> Quiénes estamos y qué hacemos hoy en datos en nuestros países?
                        <i class="icon fa fa-angle-down"></i>
                      </h6>
                    </a>
                    <div id="timeline_time0" class="panel-collapse schedule-item-body collapse in" style="">
                      <article>
                        <p class="description">Presentación de participantes* (5min): 
                          <ul>
                            <li>Institución que representa.</li>
                            <li>Rol de la institución en el ecosistema nacional de datos.</li>
                            <li>Mención de acciones destacadas de datos.</li>
                          </ul>
                        </p>
                        <small>* Se circulará un formulario en preparación a esta sesión para que cada país pre-defina y acote su intervención y sirva como insumo para el reporte final de GobCamp. El formulario incluirá también una consulta sobre preferencias y propuestas de abordaje regional.</small>
                      </article>
                    </div>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#timeline" href="#timeline_time1" class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <i class="icon fa fa-clock-o"></i>10:15 AM
                      </strong>
                      <h6 class="title"><span><strong>Dónde estamos?:</strong></span> <span>a. Estado de la agenda regional de Datos Abiertos;</span> <span>b. Estados de los datos en la región.</span>
                        <i class="icon fa fa-angle-down"></i>
                      </h6>
                    </a>
                    <div id="timeline_time1" class="panel-collapse schedule-item-body collapse" style="height: 0px;">
                      <article>
                        <p class="description">Presentaciones:
                          <ul>
                            <li><u>DGPE/OEA:</u> Compromisos 2016-17.</li>
                            <li><u>ILDA: OD4D</u> y evaluación fase 1.</li>
                            <li><u>CEPAL:</u> Publicación panorama regional.</li>
                          </ul>
                        </p>
                        <strong class="highlight speaker-name"></strong>
                      </article>
                    </div>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#timeline" href="#timeline_time2" class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <i class="icon fa fa-clock-o"></i>11:00 AM
                      </strong>
                      <h6 class="title"><strong>Midiéndonos:</strong> Modelo de Madurez Regional de Datos Abiertos
                        <i class="icon fa fa-angle-down"></i>
                      </h6>
                    </a>
                    <div id="timeline_time2" class="panel-collapse schedule-item-body collapse" style="height: 0px;">
                      <article>
                        <p class="description">
                          <ul>
                            <li>Presentaciones por Uruguay, AGESIC; y Argentina, Ministerio de Modernización. Indicadores o modelo de madurez? Cómo seguimos adelante; insumos, tiempos, y resultados esperados.</li>
                            <li>Discusión abierta: Formato Taller.</li>
                          </ul>
                        </p>
                        <strong class="highlight speaker-name"></strong>
                      </article>
                    </div>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#timeline" href="#timeline_time3" class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <i class="icon fa fa-clock-o"></i>12:30 PM
                      </strong>
                      <h6 class="title"><strong>Instrumentos:</strong> Mejorando las políticas de datos abiertos
                        <i class="icon fa fa-angle-down"></i>
                      </h6>
                    </a>
                    <div id="timeline_time3" class="panel-collapse schedule-item-body collapse" style="height: auto;">
                      <article>
                        <p class="description">Formato taller: questionstorming/breainsgtorming.
                          <ul>
                            <li>Qué sobresale de las políticas de datosexistentes?.</li>
                            <li>Qué les hace falta? Qué sería deseable que tuvieran?.</li>
                            <li>Qué ha funcionado para generarlas?</li>
                            <li>Qué mejorar para co-crear?.</li>
                          <ul>                   
                        </p>
                      </article>
                    </div>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#timeline" href="#timeline_time3" class="schedule-item-toggle collapsed featured-time">
                      <strong class="time highlight">
                        <i class="icon fa fa-clock-o"></i>13:00 PM
                      </strong>
                      <h6 class="title"><strong>Almuerzo</strong>
                      </h6>
                    </a>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#timeline" href="#timeline_time4" class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <i class="icon fa fa-clock-o"></i>14:30 PM
                      </strong>
                      <h6 class="title"><strong>Abriendo datos</strong> a nivel regional
                        <i class="icon fa fa-angle-down"></i>
                      </h6>
                    </a>
                    <div id="timeline_time4" class="panel-collapse schedule-item-body collapse" style="height: auto;">
                      <article>
                        <p class="description">
                          <ul>
                            <li>Set temáticos regionales? Cómo?</li>
                            <li>Vale la pena construir un repositorio de estándares para la apertura de datasets regionales?</li>
                            <li>Set temático regional de violencia contra la mujer. Cómo avanza?</li>
                          <ul>                   
                        </p>
                      </article>
                    </div>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#timeline" href="#timeline_time5" class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <i class="icon fa fa-clock-o"></i>16:30 PM
                      </strong>
                      <h6 class="title"><strong>Reportando</strong> 2017
                        <i class="icon fa fa-angle-down"></i>
                      </h6>
                    </a>
                    <div id="timeline_time5" class="panel-collapse schedule-item-body collapse" style="height: auto;">
                      <article>
                        <p class="description">
                          Qué hemos avanzado del plan de acción del 2017 y qué ajustar previo a la XI Anual de la RedGealc?             
                        </p>
                      </article>
                    </div>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#timeline" href="#timeline_time6" class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <i class="icon fa fa-clock-o"></i>17:00 PM
                      </strong>
                      <h6 class="title"><strong>Construyendo</strong> 2018
                        <i class="icon fa fa-angle-down"></i>
                      </h6>
                    </a>
                    <div id="timeline_time6" class="panel-collapse schedule-item-body collapse" style="height: auto;">
                      <article>
                        <p class="description">
                        Cuáles son las prioridades para el plan de acción del 2018 y cuáles los aportes del Grupo al Comunicado de Santo Domingo.            
                        </p>
                      </article>
                    </div>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a href="" class="schedule-item-toggle collapsed featured-time">
                      <strong class="time highlight">
                        <i class="icon fa fa-clock-o"></i>17:30 PM
                      </strong>
                      <h6 class="title"><strong>Cierre</strong> 
                      </h6>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center schedule-info">          
            <p><span><strong>Agua, café y snack disponibles en la sala de reunión durante las sesiones.</strong></span></p>
            <p><strong>Participantes:</strong> Autoridades de Gobiernos de las Américas en representación de sus países como entidades rectoras de las agendas nacionales de datos abiertos en sus países.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="venu_info">
        <div class="venu_icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <h2>Ubicación</h2>
        <p>A corta distancia caminando del Hotel Holiday Inn Aurola</p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="venu_map">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=Manuel%20Mar%C3%ADa%20de%20Peralta%2C%20San%20Jos%C3%A9%2C%20Costa%20Rica&key=AIzaSyDuuljpIiwZqFjJwI4W5pFkucZVghlNIG4" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <strong>Consultas sobre esta actividad:</strong> Mike Mora, Especialista, DGPE/OEA <a href=\"mailto:mmora@oas.org\" target=\"_top\">mmora@oas.org</a>
  </div>

  <div id="partners">
    <div class="row">
      <div class="col-md-3">
        <div>
          <a href="http://www.redgealc.net/" target="_blank">
            <img src="img/redgealc.jpg" class="img-responsive partner-img">
          </a>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <a href="http://www.oas.org/" target="_blank">
            <img src="img/oea.jpg" class="img-responsive">
          </a>
          </a>
        </div>
      </div>    
      <div class="col-md-3">
        <div>
          <a href="https://idatosabiertos.org/" target="_blank">
            <img src="img/ilda.jpg" class="img-responsive">
          </a>
        </div>
      </div>      
      <div class="col-md-3">
        <div>
          <a href="https://www.idrc.ca/" target="_blank">
            <img src="img/idrc.png" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>

</section>