<div id="intro_txt">
  <figure>
    <img src="img/logo_small.svg">
  </figure>

  <div class="mt">
    <p><b>El Encuentro Regional de las Américas de la Alianza para el Gobierno Abierto para 2016 se llevará a cabo en la ciudad de Montevideo y se esperan alrededor de 500 participantes de gobierno, sociedad civil, medios y empresas.</b></p>

    <p>En esta edición y en línea con los principios de cooperación y participación que impulsan a la AGA, creamos una agenda temática co-creada que busca reflejar los intereses y prioridades de la comunidad de Gobierno Abierto regional.  Como hilo conductor, se desarrollará la idea trabajada en la Cumbre Global de México de los Objetivos de Desarrollo Sostenible post-2015, enfocándonos en cómo el Gobierno Abierto puede aportar a su impulso en la región, desde la óptica particular del desarrollo humano.</p>
  </div>
</div>
