<h1>ENCUENTRO REGIONAL DE LAS AMÉRICAS DE LA ALIANZA PARA EL GOBIERNO ABIERTO</h1>
<h2>31.05 al 02.06 DE 2016 MONTEVIDEO URUGUAY</h2>

<form action="/enviar" method="post">
  <p>
    <label for="nombre">Nombre</label>
    <input type='text' name="name" id="name">
  </p>
  <p>
    <label for="organizacion">Organización</label>
    <input type='text' name="organization" id="organization">
  </p>
  <p>
    <label for="sector">Sector</label>
    <input type='text' name="sector" id="sector">
  </p>
  <p>
    <label for="pais">País</label>
    <input type='text' name="country" id="country">
  </p>
  <p>
    <label for="comments">Comentarios</label>
    <textarea name="comments" id="comments"></textarea>
  </p>
  <p>
    Temas de mi interés:
    <ul>
      <li>
        <label>
          <input type="checkbox" value="innovacion_sector_publico" name="intereses[]">
          Innovación en el sector público
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" value="plata_emprendedor" name="intereses[]">
          Hacer plata con mi startup porque soy un emprendedor
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" id="facilitador" value="facilitador" name="intereses[]">
          Deseo ser facilitador
        </label>
      </li>
    </ul>
  <button type="submit">Enviar</button>
</form>
