<section class="main_container" id="home_page">
  <a id="goup_btn" href="#"><img src="img/arrow.svg"></a>
  <div id="intro_txt">
    <figure>
      <img src="img/logo_small.svg">
    </figure>

    <div class="mt">
      <p>
        <b>
          <%= t.index.content1 %>
        </b>
      </p>
      <p>
        <%= t.index.content2 %>
      </p>
    </div>
  </div>

  <!-- - TODO: erb :speakers -->

  <%= erb :sponsors %>
  <%= erb :organizers %>

</section>
