<header class="intro intro_video text-center">
  <ul>
    <li><a id="presidencia" href="http://presidencia.go.cr/" target="_blank">Presidencia</a></li>
    <li><a id="gobiernoabierto" href="http://gobiernoabierto.go.cr/" target="_blank">Gobierno abierto</a></li>
    <li><a id="abriendodatos" href="https://abriendodatoscostarica.org/" target="_blank">Abriendo Datos</a></li>
  </ul>

  <a id="logoevento" class="stream_video" href="#" class="svg">
    <object data="img/logoevent.svg" type="image/svg+xml" class="mailicon">
    </object>
  </a>

  <div id="video_stream">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/TMkj5sElN2w" frameborder="0" allowfullscreen></iframe>
  </div>

  <h3 class="jcountTimer"></h3>
</header>


<section class="main_container" id="home_page">
  <div id="intro_txt">
    <figure>
      <img src="img/logo_small.svg">
    </figure>

    <div class="mt">
      <p>
        <b>
          <%= t.index.content1 %>
        </b>
      </p>
      <p>
        <%= t.index.content2 %>
      </p>
    </div>
  </div>

  <%= erb :organizers %>
  <%= erb :sponsors %>
  
</section>
<script src="js/countdown.js"></script>
<script src="js/smoothscroll.min.js"></script>
