<section id="about" class="container content-section text-center">
  <div class="triangle-topright"></div>
  <div class="triangle-topleft"></div>
  <div class="triangle-topleft blue" style="left:-120px;top:500px"></div>
  <div class="cilinder"></div>
  <div class="lines"></div>
  <div class="row">
    <div class="col-md-6">
      <p>
        El Encuentro Regional de las Américas de la Alianza para el Gobierno Abierto para 2016 se llevará a cabo en la ciudad de Montevideo y se esperan alrededor de 500 participantes de gobierno, sociedad civil, medios y empresas.</p>
      <p>En esta edición y en línea con los principios de cooperación y participación que impulsan a la AGA, buscamos de los participantes del evento aportes para el armado de una agenda temática que refleje los intereses y prioridades de la comunidad de Gobierno Abierto regional. Como hilo conductor, desarrollaremos la idea trabajada en la Cumbre Global de México de los Objetivos de Desarrollo Sostenible post-2015, enfocándonos en cómo el Gobierno Abierto puede aportar a su impulso en la región, desde la óptica particular del desarrollo humano.</p>
    </div>
    <div class="col-md-6">
      <p>Para ésto, en lugar de un llamado a ponencias tradicional, invitamos a todos los interesados en asistir a completar el siguiente formulario, seleccionar sus temas de interés y/o agregar los que les resulten relevantes, así como postularse explicitando sus posibles aportes en hasta tres temas.</p>
      <p>Buscamos crear una agenda más dinámica y colaborativa, experimentando con sesiones más participativas y de intercambio, en lugar del modelo expositivo tradicional. Por este motivo en lugar de ponencias tradicionales el Comité Académico del evento solicita posibles aportes a la temática, para luego invitar a los ponentes a co-crear sesiones interactivas y de intercambio.</p>
    </div>
  </div>
  <div class="btns">
    <div class="row">
      <div class="col-md-4">
        <a href="#" class="btn">Proceso de selección</a>
      </div>
      <div class="col-md-4">
        <a href="#" class="btn">Criterios de selección</a>
      </div>
      <div class="col-md-4">
        <a href="#" class="btn">Becarios</a>
      </div>
    </div>
  </div>
</section>

<!-- FORM -->
<%= erb :form %>
