<div id="orgnices">

  <h2 class="sub_title text-center"><%= t.index.organizers %></h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div>
          <a href="http://presidencia.go.cr/" target="_blank">
            <img src="img/presidencia.jpg" alt="" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <a href="http://gobiernoabierto.go.cr/" target="_blank">
            <img src="img/gobabierto.jpg"  alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <a href="https://abriendodatoscostarica.org/" target="_blank">
            <img src="img/abriendodatoscr.jpg" alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
    </div>
  </div>

  <h2 class="sub_title text-center"><%= t.index.co_organizers %></h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div>
          <a href="http://www.micit.go.cr/" target="_blank">
            <img src="img/micitt.jpg" alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <a href="https://www.hivos.org/"  target="_blank">
            <img src="img/hivos.jpg"   alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <a href="http://www.grupo-inco.com/" target="_blank">
            <img src="img/grupo-inco.png" alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div>
          <a href="http://accesa.org/" target="_blank">
            <img src="img/accesa.jpg"  alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>