<div id="orgnices">
  <h2 class="sub_title"><%= t.index.organizers %></h2>
  <div class="organce">
    <figure><img src="img/agesic.svg"></figure>
  </div>
  <div class="organce">
    <figure><img src="img/presidencia.svg"></figure>
  </div>
  <div class="organce">
    <figure><img src="img/red.svg"></figure>
  </div>
</div>

