<div id="orgnices">
  <h2 class="sub_title"><%= t.index.organizers %></h2>
  <div class="organce">
    <figure>
      <a href="http://www.agesic.gub.uy/" target="_blank">
        <img src="img/agesic.svg">
      </a>
    </figure>
  </div>
  <div class="organce">
    <figure>
      <a href="http://www.opengovpartnership.org/" target="_blank">
        <img src="img/ogp.png">
      </a>
    </figure>
  </div>
  <div class="organce">
    <figure>
      <a href="https://www.presidencia.gub.uy/" target="_blank">
        <img src="img/presidencia.svg">
      </a>
    </figure>
  </div>
  <div class="organce">
    <figure>
      <a href="http://rga.uy/" target="_blank">
        <img src="img/red.svg">
      </a>
    </figure>
  </div>
</div>
