<div id="orgnices">
  <h2 class="sub_title"><%= t.index.organizers %></h2>
  <div class="organce">
    <figure>
      <a href="http://presidencia.go.cr/" target="_blank">
        <img src="img/presidencia.jpg" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="organce">
    <figure>
      <a href="http://gobiernoabierto.go.cr/" target="_blank">
        <img src="img/gobabierto.jpg" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="organce">
    <figure>
      <a href="https://abriendodatoscostarica.org/" target="_blank">
        <img src="img/abriendodatoscr.jpg" class="img-responsive organce-img">
      </a>
    </figure>
  </div>

  <h2 class="sub_title"><%= t.index.co_organizers %></h2>
  <div class="organce">
    <figure>
      <a href="http://www.micit.go.cr/" target="_blank">
        <img src="img/micitt.jpg" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="organce">
    <figure>
      <a href="https://www.hivos.org/" target="_blank">
        <img src="img/hivos.jpg" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="organce">
    <figure>
      <a href="http://www.grupo-inco.com/" target="_blank">
        <img src="img/grupo-inco.png" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="organce">
    <figure>
      <a href="http://accesa.org/" target="_blank">
        <img src="img/accesa.jpg" class="img-responsive">
      </a>
    </figure>
  </div>
</div>
