<section class="container content-section">
  <div class="row">
    <div class="col-md-12">
      <h1>Proceso de Selección</h1>

      <p>
        Está en manos del Comité Organizador, conformado por representantes del gobierno de Uruguay (AGESIC), de la sociedad civil (Red de Gobierno Abierto) y la Unidad de Apoyo de AGA, que contará con un Comité Académico conformado especialmente para la ocasión, con apoyo de la academia.
      </p>

      <p>
        Las fechas clave a tener en cuenta son:
        <ul>
          <li>Viernes 19 de febrero - <strong>Llamado a ponentes, temas de interés y solicitud de becas</strong></li>
          <li>Viernes 31 de marzo - <strong>Cierre del llamado a ponentes, temas de interés y solicitud de becas</strong></li>
          <li>1º al 21 de abril - <strong>Deliberación del Comité Académico y armado de la agenda general</strong></li>
          <li>Viernes 22 de abril - <strong>Fecha límite de contacto con ponentes y becarios seleccionados</strong></li>
          <li>22 de abril al 20 de mayo - <strong>Co-creación de sesiones por ponentes</strong></li>
          <li>31 de mayo - <strong>Día de la Sociedad Civil</strong></li>
          <li>1 y 2 de junio - <strong>Encuentro Regional de las Américas de la Alianza para el Gobierno Abierto</strong></li>
        </ul>
      </p>

      <p>
        Cerrado llamado a ponentes, temas de interés y solicitud de becas, el Comité académico se abocará a la tarea del armado de sesiones en la agenda <strong>de acuerdo a los temas más propuestos y los temas prioritarios para OGP</strong>, así como los <strong>grupos de ponentes, liderados cada uno por un facilitador que desarrollarán esas sesiones</strong>.
      </p>
      <p>
        Los ponentes y facilitadores seleccionados serán contactados por correo electrónico antes del 22 de abril y contarán con tres días hábiles para confirmar su participación, incluyendo aquellos que requiriesen asistencia para transporte y hospedaje. Quienes acepten recibirán detalles adicionales sobre el armado de sesiones, incluyendo puntos de contacto para asuntos de contenido y logística. El resultado de la selección será publicado en el sitio (<a href="http://ogpmontevideo.uy">ogpmontevideo.uy</a>) una vez confirmada la totalidad de los ponentes y facilitadores. A través de ésta, el público podrá hacer llegar sugerencias sobre el tema o la sesión al facilitador, ampliando al máximo la posibilidad de participación de los asistentes en la agenda.
      </p>
      <p>
        El facilitador de cada sesión responde por el armado de la misma ante el comité académico y tiene la responsabilidad de hacer llegar una propuesta co-creada con el resto de los ponentes al comité antes del 20 de mayo. El comité académico sugerirá a los facilitadores una serie de formatos posibles para las sesiones, sin perjuicio de que éstos propongan otras. Se insistirá especialmente en que las sesiones fomenten el diálogo más que la exposición, el intercambio de ideas entre ponentes y con el público, así como la participación externa por medio de preguntas, formatos interactivos o uso de herramientas en línea.
      </p>
    </div>
    <%= erb :volver %>
  </div>
</section>
