<section class="main_container event7" id="evento_page">

  <div class="row">
    <div class=" heading-block">
      <div>
        <span class="hero-heading-top">
          <span class="fa fa-calendar-o base-clr-txt"></span>
                        22 de Agosto                

          <span class="fa fa-clock-o base-clr-txt"></span>
                        5:00 PM                         
          <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>
                        Centro cultural de España                                   
        </span>
        <h1 class="hero-heading-main">Siguiendo el Dinero, <span class="hero-art"> Happy Hour!</span></h1>
        <span class="hero-heading-bottom">
           Latinoamérica es protagonista en la apertura de datos fundamentales para seguir el dinero, mejorar el uso de los recursos públicos y luchar contra la corrupción. En la región hay un gran número de experiencias innovadoras en temas cruciales como presupuestos participativos, gasto público abierto, contrataciones abiertas, periodismo de datos e industrias extractivas.      
        </span>
        <div class="text-left hero-heading-description">
          <p>Antes de la dar inicio a Abrelatam y Condatos, Hivos, Global Integrity, Red Ciudadana y Development Gateway queremos convocarlos a una reunión íntima y sencilla, en la que podamos debatir sobre los problemas relacionados con el uso de los recursos públicos y la corrupción que enfrentamos en la región, y compartir experiencias innovadoras basadas en el uso de datos abiertos para generar soluciones a estos desafíos. Este espacio es parte del trabajo de la <strong>“Follow the Money Network”</strong> en los esfuerzos de esta red por colaborar activamente con organizaciones y líderes en diferentes países de la región.</p>
        </div>
      </div>
    </div>
  </div>    
    

  <div class="row">

    <div class="col-md-4">
      <div class="venu_info">
        <div class="venu_icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <h2>Ubicación</h2>
        <p>El Farolito - Centro cultural de España</p>
      </div>
    </div>

    <div class="col-md-8">
      <div class="venu_map">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJjc0A4H3joI8Rxd5qPEGh2hQ&key=AIzaSyDuuljpIiwZqFjJwI4W5pFkucZVghlNIG4" frameborder="0" style="border:0" allowfullscreen="">          
        </iframe>
      </div>
    </div>

  </div>


  <div id="partners">
    <div class="row">
      <div class="col-md-12">
        <div>
          <a href="http://www.ccecr.org/"  target="_blank">
            <img src="img/centroculturalespana.jpg"   alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>