<div id="speakers">
  <h2 class="sub_title"><%= t.speakers.title %></h2>
  <div class="speaker">
    <figure>
      <img src="img/speaker01.png">
    </figure>
    <div class="mt">
      <h3>Juan Jose Lopez</h3>
      <p>CEO en JL Company</p>
      <a href="#">www.jp.com</a>
      <nav>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </nav>
    </div>
  </div>
  <div class="speaker">
    <figure>
      <img src="img/speaker01.png">
    </figure>
    <div class="mt">
      <h3>Juan Jose Lopez</h3>
      <p>CEO en JL Company</p>
      <a href="#">www.jp.com</a>
      <nav>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </nav>
    </div>
  </div>
  <div class="speaker">
    <figure>
      <img src="img/speaker01.png">
    </figure>
    <div class="mt">
      <h3>Juan Jose Lopez</h3>
      <p>CEO en JL Company</p>
      <a href="#">www.jp.com</a>
      <nav>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </nav>
    </div>
  </div>
  <div class="speaker">
    <figure>
      <img src="img/speaker01.png">
    </figure>
    <div class="mt">
      <h3>Juan Jose Lopez</h3>
      <p>CEO en JL Company</p>
      <a href="#">www.jp.com</a>
      <nav>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </nav>
    </div>
  </div>
</div>
