<div id="partners">
  <h2 class="sub_title"><%= t.sponsors.support %></h2>

  <div class="partner">
    <figure>
      <a href="https://idatosabiertos.org/" target="_blank">
        <img src="img/ilda.jpg" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="http://od4d.com/" target="_blank">
        <img src="img/op4d.jpg" class="img-responsive partner-img">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="http://www.redgealc.net/" target="_blank">
        <img src="img/redgealc.jpg" class="img-responsive partner-img">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="http://www.oas.org/" target="_blank">
        <img src="img/oea.jpg" class="img-responsive">
      </a>
    </figure>
  </div>



  <h2 class="sub_title"><%= t.sponsors.sponsor %></h2>
    <div class="partner">
    <figure>
      <a href="http://www.avina.net" target="_blank">
        <img src="img/avina.png" class="img-responsive">
      </a>
    </figure>
  </div>

</div>
