<div id="partners">
  <h2 class="sub_title"><%= t.sponsors.support %></h2>

  <div class="partner">
    <figure>
      <a href="http://iadb.org/" target="_blank">
        <img src="img/bid.png">
      </a>
    </figure>
  </div>

  <div class="partner">
    <figure>
      <a href="https://www.omidyar.com/" target="_blank">
        <img src="img/omydiar.png">
      </a>
    </figure>
  </div>

  <h2 class="sub_title"><%= t.sponsors.colaborate %></h2>

  <div class="partner">
    <figure>
      <a href="http://www.avina.net/" target="_blank">
        <img src="img/avina.png">
      </a>
    </figure>
  </div>

  <div class="partner">
    <figure>
      <a href="http://www.cepal.org/" target="_blank">
        <img src="img/cepal.png">
      </a>
    </figure>
  </div>

  <div class="partner">
    <figure>
      <a href="http://www.oas.org/" target="_blank">
        <img src="img/oea.png">
      </a>
    </figure>
  </div>

  <div class="partner">
    <figure>
      <a href="http://www.undp.org/" target="_blank">
        <img src="img/pnud.png">
      </a>
    </figure>
  </div>

  <div class="partner">
    <figure>
      <a href="http://www.unesco.org/" target="_blank">
        <img src="img/unesco.png">
      </a>
    </figure>
  </div>

</div>
