<div id="partners">

  <h2 class="sub_title text-center"><%= t.sponsors.support %></h2>
  <div class="row">
      <div class="col-md-4">
        <div>
          <a href="https://idatosabiertos.org/" target="_blank">
            <img src="img/ilda.jpg" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <a href="http://od4d.com/" target="_blank">
            <img src="img/op4d.jpg" class="img-responsive partner-img" style="padding-right: 85px;">
          </a>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <a href="http://www.redgealc.net/" target="_blank">
            <img src="img/redgealc.jpg" class="img-responsive partner-img">
          </a>
          </a>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div>
        <a href="https://www.idrc.ca/" target="_blank">
          <img src="img/idrc.png" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <a href="http://www.oas.org/" target="_blank">
          <img src="img/oea.jpg" class="img-responsive">
        </a>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <a href="https://ciudadanointeligente.org/" target="_blank">
          <img src="img/ciudadanointeligente.png" class="img-responsive">
        </a>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-md-4">
    <div>
      <a href="https://socialtic.org/" target="_blank">
        <img src="img/socialtic.png" class="img-responsive">
      </a>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <a href="http://www.datauy.org/" target="_blank">
        <img src="img/data.png" class="img-responsive">
      </a>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <a href="http://www.afd.fr/" target="_blank">
        <img src="img/afd.jpg" class="img-responsive">
      </a>
      </a>
    </div>
  </div>
  </div>

  <h2 class="sub_title text-center"><%= t.sponsors.sponsor %></h2>
  <div class="row">
    <div class="col-md-4">
      <div>
        <a href="http://www.avina.net" target="_blank">
          <img src="img/avina.png" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <a href="https://www.hivos.org/" target="_blank">
          <img src="img/hivos.jpg" class="img-responsive">
        </a>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <a href="https://www.omidyar.com/" target="_blank">
          <img src="img/on.png" class="img-responsive">
        </a>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div>
        <a href="http://www.iadb.org" target="_blank">
          <img src="img/bid.jpg" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <a href="https://www.copaair.com" target="_blank">
          <img src="img/copaair.gif" class="img-responsive">
        </a>
        </a>
      </div>
    </div>
  </div>

</div>