<div id="partners">
  <h2 class="sub_title"><%= t.sponsors.support %></h2>

  <div class="partner">
    <figure>
      <a href="https://idatosabiertos.org/" target="_blank">
        <img src="img/ilda.jpg" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="http://od4d.com/" target="_blank">
        <img src="img/op4d.jpg" class="img-responsive partner-img">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="http://www.redgealc.net/" target="_blank">
        <img src="img/redgealc.jpg" class="img-responsive partner-img">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="https://www.idrc.ca/" target="_blank">
        <img src="img/idrc.png" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="http://www.oas.org/" target="_blank">
        <img src="img/oea.jpg" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="https://ciudadanointeligente.org/" target="_blank">
        <img src="img/ciudadanointeligente.png" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="https://socialtic.org/" target="_blank">
        <img src="img/socialtic.png" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="http://www.datauy.org/" target="_blank">
        <img src="img/data.png" class="img-responsive">
      </a>
    </figure>
  </div>


  <h2 class="sub_title"><%= t.sponsors.sponsor %></h2>
    <div class="partner">
    <figure>
      <a href="http://www.avina.net" target="_blank">
        <img src="img/avina.png" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="https://www.hivos.org/" target="_blank">
        <img src="img/hivos.jpg" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="https://www.omidyar.com/" target="_blank">
        <img src="img/on.png" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="http://www.iadb.org" target="_blank">
        <img src="img/bid.jpg" class="img-responsive">
      </a>
    </figure>
  </div>
  <div class="partner">
    <figure>
      <a href="https://www.copaair.com" target="_blank">
        <img src="img/copaair.gif" class="img-responsive">
      </a>
    </figure>
  </div>

</div>
