<div id="partners">
  <h2 class="sub_title"><%= t.sponsors.title %></h2>
  <div class="partner">
    <figure><img src="img/partner01.png"></figure>
  </div>
  <div class="partner">
    <figure><img src="img/partner01.png"></figure>
  </div>
  <div class="partner">
    <figure><img src="img/partner01.png"></figure>
  </div>
  <div class="partner">
    <figure><img src="img/partner01.png"></figure>
  </div>
  <div class="partner">
    <figure><img src="img/partner01.png"></figure>
  </div>
  <div class="partner">
    <figure><img src="img/partner01.png"></figure>
  </div>
  <div class="partner">
    <figure><img src="img/partner01.png"></figure>
  </div>
  <div class="partner">
    <figure><img src="img/partner01.png"></figure>
  </div>
  <div class="partner">
    <figure><img src="img/partner01.png"></figure>
  </div>
</div>
