<section class="main_container event3" id="evento_page">

  <div class="row">
    <div class=" heading-block">
      <div>
        <span class="hero-heading-top">
          <span class="fa fa-calendar-o base-clr-txt"></span>
                        21 y 22 de Agosto             

          <span class="fa fa-clock-o base-clr-txt"></span>
                        9:30 AM - 5:50 PM 

          <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>
                        UCR                        
        </span>
        <h1 class="hero-heading-main">
                        Taller: Datos abiertos para la docencia universitaria</h1>
        <span class="text-left hero-heading-bottom">
                     Este curso tiene como objetivo introducir a los y las docentes universitarios en el uso de datos abiertos como recursos educativos abiertos con el fin de promover la innovación en la docencia universitaria bajo un modelo de aprendizaje basado en la investigación.
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="schedule">
        <div class="tab-content">
          <div class=" schedule-info">
            <h2><i class="fa fa-calendar" aria-hidden="true"></i> PROGRAMA</h2>
            </br>
            <p class="text-center">
            <strong><span class="hero-heading-bottom"> <i class="fa fa-microphone" aria-hidden="true"></i> Javiera Atenas    -    <i class="fa fa-microphone" aria-hidden="true"></i> Ignacio Alfaro    -    <i class="fa fa-microphone" aria-hidden="true"></i> Juan Belbis    -    <i class="fa fa-microphone" aria-hidden="true"></i> Catalina Gobantes</span></strong>
            </p>            
          </div>          
          <div class="tab-pane fade in active">
            <div class="tab-content tab-content-schedule">
              <div class="tab-pane fade in active">
                <div class="panel-group" id="timeline">
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#timeline" href="#timeline_time0" class="schedule-item-toggle">
                      <strong class="time highlight">
                        <i class="icon fa fa-calendar-o"></i>21/08/17
                      </strong>
                      <h6 class="title"><strong>Día 1:</strong> Explorar
                        <i class="icon fa fa-angle-down"></i>
                      </h6>
                    </a>
                    <div id="timeline_time0" class="panel-collapse schedule-item-body collapse in" style="">
                      <article>
                        <div class="description">
                          <ul>
                          <li>Introducción a los datos abiertos</li>
                          <li>Introducción a la búsqueda, selección y recuperación de datos abiertos</li>
                          <li>Introducción al acceso a la información</li>
                          <li>Buenas prácticas en el uso de Datos abiertos</li> 
                          <li>Usos docentes de los Datos Abiertos</li>
                          </ul>
                         </div>
                      </article>
                    </div>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#timeline" href="#timeline_time1" class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <i class="icon fa fa-calendar-o"></i>22/08/16
                      </strong>
                      <h6 class="title"><strong>Día 2:</strong> Proyectar
                        <i class="icon fa fa-angle-down"></i>
                      </h6>
                    </a>
                    <div id="timeline_time1" class="panel-collapse schedule-item-body collapse" style="height: 0px;">
                      <article>
                        <div class="description">Presentaciones:
                          <ul>
                              <li>Introducción a las técnicas de periodismo de datos</li> 
                              <li>Introducción a la técnica de storytelling</li> 
                              <li>Taller de creación de guías didácticas para la inclusión de datos abiertos como herramientas docentes.</li>                 
                          </ul>
                        </div>
                        <strong class="highlight speaker-name"></strong>
                      </article>
                    </div>
                  </div>
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#timeline" href="#timeline_time2" class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <i class="icon fa fa-globe"></i><strong>Recursos en línea</strong>
                      </strong>
                      <h6 class="title">
                        <i class="icon fa fa-angle-down"></i>
                      </h6>
                    </a>
                    <div id="timeline_time2" class="panel-collapse schedule-item-body collapse" style="height: 0px;">
                      <article>
                        <div class="description">
                        <ul>
                           <li>Copyright y Licencias Abiertas</li>
                            <li>¿Qué son los datos abiertos?</li>
                            <li>Herramientas para usar en el curso</li>
                            <li>Introduciendo los datos abiertos</li>
                            <li>Educación cívica y datos abiertos Entrevista con una base de datos</li>
                            <li>Introducción al Scrapping</li>
                            <li>Técnicas de scrapping de datos</li>
                            <li>Introducción al análisis de datos con hojas de cálculo</li>
                            <li>¡Consiguiendo y abriendo datos!</li>
                            <li>Introducción a la expedición de datos</li>
                            <li>Uso correcto de los números y estadísticas</li>
                            <li>Errores comunes con hojas de cálculo y cómo solucionarlos</li>
                            <li>Introducción a la limpieza de datos</li>
                            <li>Introducción al análisis de datos abiertos</li>
                            <li>Visualizando los datos</li>
                            <li>Mapeando Datos - OpenStreetMap</li>                           
                            <li>¿Qué es el periodismo de datos?</li>
                            <li>Investigación cívica y participativa</li>
                            <li>Introducción a la narrativa de datos (storytelling)</li>
                          </ul>
                        </div>
                        <strong class="highlight speaker-name"></strong>
                      </article>
                    </div>
                  </div>
                </div>
              </div>      
            </div>
            <div class=" schedule-info text-center">      
              <p class=""><a href="https://www.eventbrite.es/e/entradas-taller-datos-abiertos-para-la-docencia-universitaria-36601024650" target="_blank" class="btn outline-btn register_btn">Inscripción </a></p>
              <p><span><a href=\"mailto:proledi@ucr.ac.cr\" target=\"_top\">proledi@ucr.ac.cr</a> | Tel.2511-6852</span></p>
              <p><strong>Confirmar asistencia</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="venu_info">
        <div class="venu_icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <h2>Ubicación</h2>
        <p> 
            <strong>Biblioteca Carlos Monge Alfaro</strong>
        </p>
        <p> 
            Universidad de Costa Rica, Sala 1 
        </p>
        <p> 
            San Pedro, San José de Costa Rica
        </p>    
      </div>
    </div>
    <div class="col-md-8">
      <div class="venu_map">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJzXcZqofjoI8RQM0C3MgGnA0&key=AIzaSyDuuljpIiwZqFjJwI4W5pFkucZVghlNIG4" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>


  <div id="partners">
    <div class="row">
      <div class="col-md-3">
        <div>
          <a href="http://eccc.ucr.ac.cr/" target="_blank">
            <img src="img/eccc.jpg" class="img-responsive partner-img">
          </a>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <a href="http://proledi.ucr.ac.cr/" target="_blank">
            <img src="img/proledi.png" class="img-responsive">
          </a>
          </a>
        </div>
      </div>    
      <div class="col-md-3">
        <div>
          <a href="https://idatosabiertos.org/" target="_blank">
            <img src="img/ilda.jpg" class="img-responsive">
          </a>
        </div>
      </div>      
      <div class="col-md-3">
        <div>
          <a href="http://abriendodatos.cr/" target="_blank">
            <img src="img/abriendodatoscr.jpg" alt="" class="img-responsive">
          </a>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>