<section class="container content-section text-center">
  <div id="success">
    <h4>Muchas gracias por completar el formulario</h4>
    <p>
      los datos fueron enviados correctamente. Las novedades del evento estarán disponibles en este sitio web (<a href="http://ogpmontevideo.uy">ogpmontevideo.uy</a>) e informaremos de fechas clave a través de correo electrónico.
    </p>
    <h5>
      ¡Nos vemos en Montevideo!
    </h5>
  </div>
</section>
