<section class="container content-section">
  <div class="row">
    <div class="col-md-12">
      <p>
        Muchas gracias por completar el formulario, los datos fueron enviados correctamente. Las novedades del evento estarán disponibles en este sitio web (<a href="http://ogpmontevideo.uy">ogpmontevideo.uy</a>) e informaremos de fechas clave a través de correo electrónico.
      </p>
      <p>
        ¡Nos vemos en Montevideo!
      </p>
    </div>
  </div>
</section>
