<section class="container content-section text-center" id="form">
  <div id="success">
    <h4><%= t.thanks.title %></h4>
    <p><%= t.thanks.content %></p>
    <h5><%= t.thanks.goodbye %></h5>
  </div>
  <%= erb :volver %>
</section>
