<section class="main_container" id="form">
  <div id="success" class="text-center">
    <h3><%= t.thanks.title %></h3>
    <p><%= t.thanks.content %></p>
    <h5><%= t.thanks.goodbye %></h5>
  </div>
  <%= erb :volver %>
</section>
