/* ==========================================================================
   General site styles
   ========================================================================== */
body {
    overflow-x:hidden;font-family: 'Montserrat', sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a3990+0,2c3c91+12,2a4194+20,2e4a98+35,31559d+51,32589f+54,335aa0+58,3564a5+69,356dab+80,3f7eb5+98 */
    background: rgb(3,118,147); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(17, 163, 195) 0%,rgb(73, 178, 206) 12%,rgb(112, 165, 199) 20%,rgb(54, 171, 196) 35%,rgb(110, 166, 199) 51%,rgb(11, 165, 193) 54%,rgb(91, 186, 213) 58%,rgb(93, 190, 209) 69%,rgb(96, 181, 208) 80%,rgb(162, 213, 223) 98%);  /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgb(17, 163, 195) 0%,rgb(73, 178, 206) 12%,rgb(112, 165, 199) 20%,rgb(54, 171, 196) 35%,rgb(110, 166, 199) 51%,rgb(11, 165, 193) 54%,rgb(91, 186, 213) 58%,rgb(93, 190, 209) 69%,rgb(96, 181, 208) 80%,rgb(162, 213, 223) 98%);  /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgb(17, 163, 195) 0%,rgb(73, 178, 206) 12%,rgb(31, 167, 197) 20%,rgb(54, 171, 196) 35%,rgb(91, 186, 212) 51%,rgb(94, 185, 208) 54%,rgb(91, 186, 213) 58%,rgb(93, 190, 209) 69%,rgb(96, 181, 208) 80%,rgb(162, 213, 223) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a3990', endColorstr='#3f7eb5',GradientType=0 ); /* IE6-9 */
}

#goup_btn {background: #252626;height: 125px; width: 64px;position: fixed;line-height:123px;top: 50px;text-align:center;right: 120px;display: none;}
#goup_btn img { width: 50%;}
.sub_title {
    font-size: 20px;
    color: #5DBFDD;
    text-transform: uppercase;
    margin: 50px 0;
}

@media (min-width: 768px) {
}

@media (max-width: 1024px) {
    #goup_btn { width:32px; height: 63px; right: 0; line-height: 60px;}
}
@media (max-width: 640px) {
    #ogp_logo_mobile { display: block;}
    a#ogp_logo_mobile {
    background: url(../img/ogp_logo_white.png) no-repeat !important;   
    height: 130px !important;
    width: 100% !important;
    background-size: 150px 100px !important;
    background-position-x: 25px !important;
    background-color: #157e99 !important;
    }
    #home_page #intro_txt figure img {
    max-width: 350px !important;
    margin-left: 5% !important;
    }
    .jcountTimer span { width:8% !important;}
}

#main_section { position: relative;}

.partner img{
    width: 100%;
}

/* ==========================================================================
   Main intro styles
   ========================================================================== */

.intro_video  ul { float:left;width: 50% !important; margin: 40px 0 !important}

#logoevento {
    width:100%;
    display: block;
    margin: 15px 0;
}
.stream_video { width: 50% !important; float: right; margin: 40px 0 !important}

#video_stream  { width: 800px; margin: auto; height: 500px; clear: both}
#video_stream h3 { text-transform: uppercase; font-size: 14px;text-align: left; width: 100%; display: inline-block;}
#video_stream iframe{
    max-width: 100%;
    max-height: 100%;
}

#logoevento object {
    width: 50%;
}

.intro {
    float: left;
    width: 75%;
    margin-left: 272px;
    text-align: center;
    color: #fff;

}
.intro ul li a {display: block;text-indent: -9000px;font-size: 0; background: url(../img/logos.png) no-repeat;}

.intro ul li #agesic { width: 108px; height: 50px;}
.intro ul li #presidencia {
    width: 121px;
    height: 69px;
    background-position: -164px;

}
.intro ul li #rga {
    width: 137px;
    height: 69px;
    background-position: -336px;
}


.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

.intro ul { width: 100%; display: inline-block;text-align: center;margin: 0;padding: 0}
.intro ul li {list-style-type: none;display: inline-block; margin-left: 5%}
.intro ul li p {color:#ECB61E;text-transform: uppercase;font-size: 14px;}
.intro ul li.when { background: url(../img/calendaricon.png) no-repeat left top; padding-left: 40px;}
.intro ul li.where { background: url(../img/pinicon.png) no-repeat left top; padding-left: 40px;}
.intro ul li:first-child { margin-left: 0}


.intro .btn { margin: 10px 0}

.intro #arrow_small {text-align: center; display: block; margin: 30px auto; width: 3%}

.intro h1 {
    font-size: 23px;
    font-weight: normal;
    color: #2E3192;
    position: relative;
    text-align: left;
    line-height: 29px;
}
.intro h1::before {
    content: "";
    height: 8px;
    position: absolute;
    top: -30px;
    width: 40px;
    background: #2E3192;
}

.intro .txt {
    text-align: center;
    margin:10% auto 2% auto;
    padding-left:0;
}
.intro h2 {
    text-align: left;
    color:#fff;
    font-size: 20px;
    line-height: 28px;

}
#english_btn {
    position: absolute;
    top: 30px;
    right: 5%;
    padding: 8px 20px;
    font-size: 12px;
}
.jcountTimer  {font-weight: normal;display: inline-block;}
.jcountTimer span { width:15%;float:left;font-size: 2em; margin:0 5% 0 5%;font-weight: 400;font-family:"Montserrat";border-left:1px solid #efa4c7; padding:0 40px;}
.jcountTimer span small { display:block;font-size: 0.3em; text-transform: none;color:#fff;font-weight: normal;text-align:left;font-family:"Arial"}
.jcountTimer span:first-child { border: none; margin-left:0}
/* ==========================================================================
   Main container styles
   ========================================================================== */

.main_container {
    background:#fff;
    float: left;
    width:75%;
    margin-left:272px;
    margin-top: 80px;
    margin-right:80px;
    min-height: 100vh;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 85px;
    padding-bottom: 85px;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
    .main_container { background:#fff}
    a#ogp_logo_mobile { display: none;}

}
@media (max-width: 640px) {
    .main_container {  width: 100%; margin: 0;padding: 20px; text-align: center;}
}


/* ==========================================================================
   Main Menu styles
   ========================================================================== */

.main_menu {
    position: fixed;
    display: block;
    background-color: #014454;
    padding-left:50px;
    height: 100vh;
    vertical-align: middle;
    z-index: 1002;
}
@media (min-width: 768px) {
    .main_menu {width: 272px;}
    .main_menu .date_info h3 {font-size: 17px;}
}

@media (min-width: 1024px) {
    .main_menu {width: 272px;}
}

@media (max-width: 640px) {
    .main_menu {
        width: 96%; padding-left: 22px;
        display: none;
    }

    .main_menu nav#main_nav ul{ padding: 20px 0 0 10px !important;}
    .main_menu nav#main_nav ul li { margin: 10px 0}
    .main_menu .date_info h3  { font-size:14px }
    .main_menu .btn { width: 93%;}
    .main_menu .language_nav { text-align: center;}
    .main_menu .language_nav a {font-size: 18px !important}
    a#ogp_logo { display: none !important;}
    #ogp_logo_mobile {display: block !important;}
    #menu_mobile_open { display: block !important;}
    #video_stream {
        max-width: 370px;
        height: 250px;
    }
    .intro {
        margin-left: 20px;
    }
}

@media screen and ( max-height: 750px ){
    .main_menu nav#main_nav ul li { margin: 15px 0 0 0}
    .main_menu nav#main_nav {margin-bottom: 20px}
    .main_menu nav#main_nav ul { padding-top: 60px}
    .main_menu .btn {margin: 0}
    a#ogp_logo { background-size: 20%}


}
@media screen and ( min-height: 751px ){
    .main_menu nav#main_nav ul li { margin: 30px 0 0 0}


}

a#ogp_logo {
    background: url(../img/ogp_logo.png) no-repeat;   
    height: 120px;
    width: 180px;
    background-size: 180px 120px;
    margin-top: 30px;
    display: block;
    font-size: 0;
    position: absolute;
    left: 70px;
}

a#ogp_logo_mobile {
    background: url(../img/ogp_logo.png) no-repeat;
    height: 142px;
    width: 142px;
    margin: auto;
    display: block;
    font-size: 0;
    background-size: 70%;
    float: left;
    display: none;
}

.main_menu nav#main_nav { border-left: 1px solid #fff;}
.main_menu nav#main_nav ul {padding:80px 0 0 10px; margin-bottom: 50px}
.main_menu nav#main_nav ul li {list-style-type: none;position: relative;}
.main_menu nav#main_nav ul li a {font-family: 'Roboto', sans-serif; color: #fff; font-size: 14px;letter-spacing: 1px;f}

.main_menu nav#main_nav ul li:before {
    background: #333;
    content: '';
    height: 13px;
    display: block;
    width: 13px;
    border-radius: 43px;
    border: 1px solid #fff;
    position: absolute;
    left: -27px;
    top: 3px;
}
.main_menu nav#main_nav ul li:after {}
.main_menu nav#main_nav ul li.active:after, .main_menu nav ul li a:hover:after {
                                                background: #5DBFDD;
                                                content: '';
                                                height: 7px;
                                                display: block;
                                                width: 7px;
                                                border-radius: 43px;
                                                position: absolute;
                                                left: -24px;
                                                top: 6px;
                                            }

.main_menu nav#main_nav ul .active {}
.main_menu nav#main_nav ul .active a, .main_menu nav ul li a:hover  {text-decoration: none; color:#5DBFDD;padding-bottom: 5px;border-bottom:2px solid #5DBFDD;}

.main_menu .btn { font-family: 'Roboto', sans-serif;text-align: center; border-radius: 0;border-color: #5DBFDD; font-size: 15px;color: #5DBFDD;}
.main_menu .btn:hover {border-color: #fff;color: #fff}

.main_menu .language_nav { }
.main_menu .language_nav a {font-family: 'Roboto', sans-serif;text-transform: uppercase;font-size: 13px;color: #707070;margin-right: 5px}
.main_menu .language_nav a:hover, .main_menu .language_nav a.active { color:#5DBFDD;border-bottom: 2px solid #5DBFDD;text-decoration: none;}

.main_menu .date_info { margin-bottom: 20px; margin-right: 20px;}
.main_menu .date_info h3 {color: #ef59a1; font-weight: 700;}

.main_menu nav#main_nav ul .submenu {padding:10px 0 0 0px; margin-bottom: 0px; display: none;}
.main_menu nav#main_nav ul .show_submenu {display: block;}
.main_menu nav#main_nav ul .submenu li {list-style-type: none;position: relative; margin: 10px 0 10px 0}
.main_menu nav#main_nav ul .submenu li a {font-family: 'Roboto', sans-serif; color: #707070; font-size: 14px;letter-spacing: 1px;}
.main_menu nav#main_nav ul .submenu li:before, .main_menu nav#main_nav ul .submenu li a:hover:after{display: none;}


#menu_mobile_open {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid #5dbfdd;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #5dbfdd;
    display: none;
}
/* ==========================================================================
   Main Menu styles
   ========================================================================== */
footer {
    float: left;
    background:#efa4c7;
    padding-top: 10px;
    width:75%;
    margin-left:272px;
    margin-right:80px;
    margin-top: -4%;
    overflow: hidden;
}
footer ul { margin: 0;float: left; width: 50%}
footer ul li  { display: inline-block; width: 100%; color: #707070; margin:10px 0}

footer ul li a:hover { border-bottom: 2px solid #fff;text-decoration: none; color: #fff}
footer ul li a {font-family: 'Roboto', sans-serif;font-size: 14px;color: #707070; padding-left: 5px }
footer ul li a:hover > i  {color: #fff}

.twitter_feed { float: right; width: 45%; margin-right: 5%;}

.twitter_feed .tweet { width: 100%; display: inline-block;margin: 10px 0}
.twitter_feed h3 { color: white;font-weight: normal; margin: 0px 0 15px 0;font-size: 20px;}
.twitter_feed h3 i {margin-right: 20px;}
.twitter_feed p { color: white;font-size: 11px; margin: 0}
.twitter_feed a { color: white;font-size: 11px;}
.twitter_feed small {font-size: 10px;color:#707070}

@media (max-width: 640px) {
    footer {
        float: none;
        width: 100%;
        margin: 0;
    }
    .twitter_feed h3 {font-size: 15px;}
}

/* ==========================================================================
   Twitter feed styles
   ========================================================================== */

.timeline-Tweet-text {font-size: 12px !important}

/* ==========================================================================
   Btns  styles
   ========================================================================== */

.btn {
    border:1px solid;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
}

/* ==========================================================================
   Home Page  styles
   ========================================================================== */
#home_page #intro_txt, #speakers, #partners { width: 100%; display: inline-block; margin:0 0 55px 0}
#home_page #intro_txt figure { float: left;}
#home_page #intro_txt figure img {    
    max-width: 700px;
    margin-top: 5%;
    margin: 5%;
}
#home_page #intro_txt .mt { font-family: 'Roboto', sans-serif; margin-right: 25px; float: left;}
#home_page #intro_txt .mt b {font-size: 18px;}
#home_page #intro_txt .mt p,  #home_page #intro_txt .mt li {font-size: 15px;}

@media (min-width: 768px) {
    #home_page #partners .partner, #home_page #orgnices .organce  { width: 13%;display: inline-block;margin-right:150px;}
    #orgnices .organce figure img { width: 100%;}
}

@media (min-width: 1024px) {
}
@media (max-width: 640px) {

    #home_page {padding-top: 0}

    #home_page #intro_txt .mt {
        margin: auto;
        width: 90%;
        text-align: left;
        float: none;
    }
    #home_page #intro_txt figure {
        float: none;
        width: 100%;
        margin: 30px auto;
    }
    #home_page #partners .partner, #home_page #orgnices .organce { width: 40%; display: inline-block; margin: 10px 0}
    #home_page figure img { width: 80%; }

}

#speakers .speaker { width: 40%; display: inline-block;margin:20px 0}
#speakers .speaker figure {float: left;}
#speakers .speaker .mt {float: left;margin-left: 20px;}
#speakers .speaker .mt h3 {font-family: 'Roboto', sans-serif;font-size: 20px;margin: 0}
#speakers .speaker .mt p {font-family: 'Roboto', sans-serif;font-size: 12px;font-weight: bold;margin: 0}
#speakers .speaker .mt a {font-family: 'Roboto', sans-serif;font-size: 11px;color: #5DBFDD}
#speakers .speaker .mt nav { margin: 10px 0}
#speakers .speaker .mt nav a i {
    font-size: 13px;
    background: #5DBFDD;
    border-radius: 24px;
    padding: 7px 10px;
    color: #fff;
    transition: all .2s ease-in-out;
}

/* ==========================================================================
   Agenda Page styles
   ========================================================================== */

#agenda h1 { padding: 120px 0 0 0; font-size: 15px;font-family: 'Roboto', sans-serif; }
#agenda h1:before { content: ''; height: 5px; background:#5DBFDD; width: 20%;position: absolute;top: -15px;}
#agenda p {
    border: 2px solid #5DBFDD;
    float: left;
    padding: 10px 30px;
    margin: 20px 0;
    color: #5DBFDD;
}

/* ==========================================================================
   Montevideo Page styles
   ========================================================================== */
#montevideo_page .title { width: 100%; display: inline-block; margin: 60px 0}
#montevideo_page .title h2 {color: #231F20;font-size: 18px;font-weight: bold;float: left;}
#montevideo_page .title p {color: #231F20;font-size: 15px; margin-left: 30px;padding-top: 20px; float: left;}
#montevideo_page .travel { width: 100%; display: inline-block;text-align: center;}
#montevideo_page .travel .cta { width: 33%; display: inline-block;text-align:center;
                              }
#montevideo_page .travel h3 {font-size: 18px; color: #5DBFDD; text-align: left;}
#montevideo_page .travel .cta img { width: 65%}
#montevideo_page .travel .cta p { font-size: 15px; font-weight: bold;font-family: 'Roboto', sans-serif; }
#montevideo_page .travel .info { width: 100%; display: inline-block;text-align: center;border-bottom:1px solid #5DBFDD; border-top: 1px solid #5DBFDD;padding: 20px 0;margin: 20px 0}
#montevideo_page .travel .info p { margin: 0}
#montevideo_page .travel .info p a {font-weight:500;font-size: 15px;color: #5DBFDD;font-family: 'Roboto', sans-serif;border-bottom: 2px solid #5DBFDD}
#montevideo_page .travel .info p a:hover {text-decoration: none;}

#montevideo_page .transport { width: 100%; display: inline-block;text-align: center;}
#montevideo_page .transport h3 {font-size: 18px; color: #5DBFDD; text-align: left;}

#montevideo_page .transport .cta { width: 22%; display: inline-block;text-align:center;}
#montevideo_page .transport .cta img { width: 100%}
#montevideo_page .transport .cta p { font-size: 15px; font-weight: bold;font-family: 'Roboto', sans-serif; }
#montevideo_page .transport .info p { margin: 0}
#montevideo_page .transport .info { width: 100%; display: inline-block;text-align: center;border-bottom:1px solid #5DBFDD; border-top: 1px solid #5DBFDD;padding: 20px 0;margin: 20px 0}
#montevideo_page .transport .info p a {font-weight:500;font-size: 15px;color: #5DBFDD;font-family: 'Roboto', sans-serif;border-bottom: 2px solid #5DBFDD}


#montevideo_page .other { width: 100%; display: inline-block;text-align: center;}
#montevideo_page .other h3 {font-size: 18px; color: #5DBFDD; text-align: left;}

#montevideo_page .other .cta { width: 22%; display: inline-block;text-align:center;}
#montevideo_page .other .cta img { width: 100%}
#montevideo_page .other .cta p { font-size: 15px; font-weight: bold;font-family: 'Roboto', sans-serif; }
#montevideo_page .other .info h3 { margin: 0}
#montevideo_page .other .info { width: 100%; display: inline-block;text-align: left;border-bottom:1px solid #5DBFDD; border-top: 1px solid #5DBFDD;padding: 20px 0;margin: 20px 0}
#montevideo_page .other .info p { margin: 30px 0; font-size: 14px; font-family: 'Roboto', sans-serif; }

#montevideo_page .cta a {color: #555;}
#montevideo_page .cta:hover > img { transform:scale(1.2);}


@media (max-width: 640px) {
    #montevideo_page .title { margin: 0}
    #montevideo_page .title h2 { float: none;text-align: left;}
    #montevideo_page .title p {
        width: 100%;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    #montevideo_page .cta { width: 100% !important;}
    #montevideo_page .travel .cta img { width: 100%;}
}

.modal{ background: rgba(0,0,0,0.7); }
.modal figure { width: 40%; float: left;}
.modal .mt { width: 60%;display: inline-block;font-size: 14px; font-family: 'Roboto', sans-serif;}
.modal .mt p {font-size: 14px; font-family: 'Roboto', sans-serif; padding: 20px;}
.modal .mt h3 {color: #231F20;font-size: 18px;font-weight: bold; margin: 0; padding: 0 20px;}
.modal-header { border: none}


/* ==========================================================================
   Sedes Page styles
   ========================================================================== */
#sedes_page {
    margin-left: 187px;
    margin-bottom: 60px;
    background-color: transparent;
}

#sedes_page .map_info_sidebar {
    overflow-x:scroll;
    width: 35%;
    background:#fff;
    position: absolute;
    right: 0;
    height: 100%;
    box-shadow: 12px 0px 15px 6px #000;
    display: inline-block;
    transition: opacity 0.6s ease-out;
    opacity: 0;
    z-index: -100;
}

#sedes_page .map_info_sidebar.unhide {
    transition: opacity 0.6s ease-out;
    opacity: 1;
    z-index: 1001;
}

#sedes_page .map_info_sidebar .inner { padding: 30px}
#sedes_page .map_info_sidebar .inner .close { color: #5DBFDD;font-size: 13px;}
#sedes_page .map_info_sidebar .inner .direction { border: 2px solid #5DBFDD; padding: 10px;margin: 20px 0}
#sedes_page .map_info_sidebar .inner .direction h4 {font-size: 16px;font-family: 'Roboto', sans-serif;font-weight: bold;color: #5DBFDD;margin:0 0px 5px 0}
#sedes_page .map_info_sidebar .inner .direction p {font-size: 14px;font-family: 'Roboto', sans-serif;}
#sedes_page .map_info_sidebar .inner .general_info { font-size: 14px;font-family: 'Roboto', sans-serif;}
#sedes_page .map_info_sidebar .inner .general_info h4 { font-size: 15px; color: #5DBFDD; margin: 20px 0}
#sedes_page .map_info_sidebar .inner .title_activity i {font-size: 22px;}
#sedes_page .map_info_sidebar .inner .general_info .activity { margin:10px 0;width: 100%; display: inline-block;}
#sedes_page .map_info_sidebar .inner .general_info .activity p {line-height: 20px; font-size: 14px;font-family: 'Roboto', sans-serif;font-weight: bold;margin: 0}
#sedes_page .map_info_sidebar .inner .general_info .activity small {font-size: 14px;font-family: 'Roboto', sans-serif;}
#sedes_page .map_info_sidebar  .apps_info { width: 100%; display:block;background: #5DBFDD;padding: 20px 0;text-align: center;}
#sedes_page .map_info_sidebar  .apps_info p {color: #231F20;font-size: 14px;font-family: 'Roboto', sans-serif;}
#sedes_page .map_info_sidebar  .apps_info a {color: #fff;font-size: 14px;font-family: 'Roboto', sans-serif; margin:0 5px}



/* ==========================================================================
   Evento  styles
   ========================================================================== */

#evento_page {padding-right: 80px}
#evento_page h3 {color: #5DBFDD;font-size: 18px;margin: 0 0 30px 0}
#evento_page h3:before { content: ''; height: 5px; background:#5DBFDD; width: 20%;position: absolute;top: -15px;}

#evento_page h4 {color: #333;font-size: 15px;margin: 0 0 30px 0}
#evento_page h4:before { content: ''; height: 5px; background:#5DBFDD; width: 10%;position: absolute;top: -15px;}

#evento_page p {font-size: 14px;font-family: 'Roboto', sans-serif;}
#evento_page .row { margin: 50px 0}
#evento_page .coffee_module {border: 2px solid #5DBFDD; padding: 15px 10px;margin:0}
#evento_page .coffee_module p {font-size: 14px;font-family: 'Roboto', sans-serif;color:#5DBFDD;font-weight: 500;}
#evento_page .coffee_module i {font-size: 40px; float: left; width: 30%}
#evento_page .coffee_module small {display: inline-block; width: 60%}
#evento_page .steps h2 {color: #5DBFDD;font-size: 91px;margin: 0 0 0px 0;font-weight: bold;}
#evento_page #event_panel_icon { font-size: 80px; color: #5DBFDD}
#evento_page .icon-commenticon {font-size: 80px;float: left;color: #5DBFDD; border-left: 4px  solid #5DBFDD}
#evento_page .comment_info { float: left; width: 70%; font-weight: normal;}

@media (max-width: 640px) {

    #evento_page { padding: 20px;}
    #evento_page .row { display: inline-block;}
    #evento_page .row h3 { text-align: left;}
    #evento_page .row h4 {position: relative; text-align: left; margin: 50px 0px 0 0}
    #evento_page p { text-align: left;}
    .coffee_module { display: inline-block;margin: 30px 0 !important}
    #evento_page .coffee_module small {font-size: 16px}
    #evento_page .coffee_module i {font-size: 50px;text-align: center;}
}

/* ==========================================================================
   Contact Form  styles
   ========================================================================== */
#contact_page .title { width: 100%; display: inline-block;}
#contact_page .title h2 {float: left;font-size: 18px; color: #5DBFDD; text-transform: uppercase;line-height: 80px;}
#contact_page .title h2:before {content: ''; width: 60%;height: 6px; background: #5DBFDD;display: block;}
#contact_page .title figure {float: left;}
#contact_page .btn {background: #5DBFDD; color: #fff;border-radius: 0; padding:15px 60px;}
#contact_page small { display: block; line-height: 30px;}
#contact_page .sent { font-size: 20px; font-weight: bold; color: #5DBFDD; display: none;}

@media (max-width: 640px) {

    #contact_page { padding-top: 0}

}

form {
    padding-top: 1em;
    margin: auto;
    /* easeInOutQuart */
    opacity: 0;
    -webkit-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.175s 1 normal forwards;
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.175s 1 normal forwards;
}
form fieldset {
    display: block;
}
form fieldset .input-container:last-child {
    border-bottom-width: 0px;
}

form .input-container {
    position: relative;
    height: 60px;
    margin-bottom: 20px;
    border-bottom: 2px solid #23527c;
}

form .textarea-container label { position: relative; margin-bottom: 32px;}
form .textarea-container:before {
}
form .input-container.error { border-color:#ED2387}

form .input-container { display: inline-block; width: 100%; margin-right: 3%}

form .input-container input {
    display: block;
    position: absolute;
    font-weight:normal;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    top:27px;
    color: #23527c;
    background: none;
    z-index: 1;
    padding: 5px 0;
    font-size: 14px;
    letter-spacing: 0.012em;
}
form .input-container select {
    display: block;
    position: absolute;
    font-weight:normal;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    top:27px;
    color: #23527c;
    background: none;
    z-index: 1;
    padding: 5px 0;
    font-size: 14px;
    letter-spacing: 0.012em;
    left: -7px;
}
form .input-container select option {padding: 0}


form .input-container label {
    display: block;
    position: absolute;
    margin-top: 2px;
    padding: 1px
                 letter-spacing: 0.012em;
    color: #23527c;
    font-size: 10px;
    -webkit-animation-name: labelIn;
    animation-name: labelIn;
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
form .input-container input:focus + label, form .input-container input.empty + label {
                                               -webkit-animation-name: labelOut;
                                               animation-name: labelOut;
                                               -webkit-animation-duration: 0.35s;
                                               animation-duration: 0.35s;
                                               -webkit-animation-direction: normal;
                                               animation-direction: normal;
                                               -webkit-animation-fill-mode: forwards;
                                               animation-fill-mode: forwards;
                                               -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
                                               animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
                                           }
@-webkit-keyframes labelIn {
    0% {
        left: 1px;
        opacity: 1;
        top: 1.2em;
        font-size: 13px;
        font-weight: 300;
    }
    50% {
        font-size: 13px;
        left: 1em;
        opacity: 0;
        top: 1.2em;
        font-weight: 300;
    }
    50.01% {
        font-size: 0.65em;
        left: 1em;
        opacity: 0;
        top: 0.2em;
        color: #0075d5;
        font-weight: 400;
    }
    100% {
        font-size: 0.65em;
        opacity: 1;
        left: 1px;
        top: 0.2em;
        color: #0075d5;
        font-weight: 400;
    }
}
@keyframes labelIn {
    0% {
        left: 1px;
        opacity: 1;
        top: 1.2em;
        font-size: 13px;
        font-weight: 300;
    }
    50% {
        font-size: 13px;
        left: 1em;
        opacity:1;
        top: 1.2em;
        font-weight: 300;
    }
    50.01% {
        font-size: 0.65em;
        left: 1em;
        opacity: 1;
        top: 0.2em;
        color: #23527c;
        font-weight: 400;
    }
    100% {
        font-size: 0.65em;
        opacity: 1;
        left: 1px;
        top: 0.2em;
        color: #23527c;
        font-weight: 400;
    }
}
@-webkit-keyframes labelOut {
    0% {
        left: 1px;
        opacity: 1;
        top: 1.2em;
        font-size: 13px;
        font-weight: 300;
    }
    50% {
        font-size: 13px;
        left: 1em;
        opacity: 0;
        top: 1.2em;
        font-weight: 300;
    }
    50.01% {
        font-size: 0.65em;
        left: 1em;
        opacity: 0;
        top: 0.2em;
        color: #23527c;
        font-weight: 400;
    }
    100% {
        font-size: 0.65em;
        opacity: 1;
        left: 1px;
        top: 0.2em;
        color: #23527c;
        font-weight: 400;
    }
}
@keyframes labelOut {
    0% {
        left: 1px;
        opacity: 1;
        top: 1.2em;
        font-size:13px;
        font-weight: 300;
    }
    50% {
        font-size: 13px;
        left: 1em;
        opacity: 0;
        top: 1.2em;
        font-weight: 300;
    }
    50.01% {
        font-size: 0.65em;
        left: 1em;
        opacity: 0;
        top: 0.2em;
        color: #23527c;
        font-weight: 400;
    }
    100% {
        font-size: 0.65em;
        opacity: 1;
        left: 1px;
        top: 0.2em;
        color: #23527c;
        font-weight: 400;
    }
}
form *:focus {
    outline: 0;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#form small {
    float: left;
    text-align: left;
    padding-left: 14px;
    width: 100%;
    font-size: 13px;
    font-style: italic;
    color: #23527c;
}
#form .form-group  { text-align: left;font-family: "Roboto"}
#form .form-group p { font-size: 16px; font-family: "Roboto"}
#form .form-group a { color: #fff}
#form .form-group label {float: left !important;margin:0 0 0 30px;font-size: 16px;font-weight: normal; color: #23527c}
.error { border:2px solid red;}
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
}
.select-style::before {
    content: "";
    height: 20px;
    width: 20px;
    background: url(../img/arrow.png) no-repeat;
    position: absolute;
    right: 30px;
    top: 35%;
}


.select-style select {
    padding:20px;
    border: none;
    font-size: 18px;
    color: #58595B;
    width: 100%;
    border-radius: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}


form .textarea-container textarea { height:150px; border:2px solid #23527c; width: 100%; color:#23527c;padding: 20px}

#map{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

#sedes_content{
    background: rgba(117, 198, 225, 0.9);
    z-index: 100;
    position: absolute;
    margin-top: 40px;
    margin-left:50px;
    padding: 40px;
    color: #fff;
}

#form h3 {

    color: #5DBFDD;
    font-size: 18px;
    margin: 0 0 30px 0;
    position: relative;
}
#form h3:before {
    content: '';
    height: 5px;
    background: #5DBFDD;
    width: 20%;
    position: absolute;
    top: -15px;
}
#form .form-group { margin: 20px 0}
#form .form-group p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
#form .btn {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 0;
    border-color: #5DBFDD;
    font-size: 15px;
    margin: 20px 0;
    color: #5DBFDD;
    background: none;
}
#form .block {width: 100%; display: inline-block;margin: 20px 0;}
/* ==========================================================================
   Fonts icon styles
   ========================================================================== */
@font-face {
    font-family: 'ogp';
    src: url('../font/ogp.eot?11909238');
    src: url('../font/ogp.eot?11909238#iefix') format('embedded-opentype'),
    url('../font/ogp.woff2?11909238') format('woff2'),
    url('../font/ogp.woff?11909238') format('woff'),
    url('../font/ogp.ttf?11909238') format('truetype'),
    url('../font/ogp.svg?11909238#ogp') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ogp';
    src: url('../font/ogp.svg?11909238#ogp') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
                             font-family: "ogp";
                             font-style: normal;
                             font-weight: normal;
                             speak: none;

                             display: inline-block;
                             text-decoration: inherit;
                             width: 1em;
                             margin-right: .2em;
                             text-align: center;
                             /* opacity: .8; */

                             /* For safety - reset parent styles, that can break glyph codes*/
                             font-variant: normal;
                             text-transform: none;

                             /* fix buttons height, for twitter bootstrap */
                             line-height: 1em;

                             /* Animation center compensation - margins should be symmetric */
                             /* remove if not needed */
                             margin-left: .2em;

                             /* you can be more comfortable with increased icons size */
                             /* font-size: 120%; */

                             /* Font smoothing. That was taken from TWBS */
                             -webkit-font-smoothing: antialiased;
                             -moz-osx-font-smoothing: grayscale;

                             /* Uncomment for 3D effect */
                             /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
                         }

.icon-commenticon:before { content: '\e800'; } /* '' */
.icon-coffeicon:before { content: '\e801'; } /* '' */
.icon-panelicon:before { content: '\e802'; } /* '' */
.icon-calendaricon:before { content: '\e803'; } /* '' */
.icon-createicon:before { content: '\e804'; } /* '' */

@media (max-width: 640px) {
    #sedes_page .map_info_sidebar { width: 100%; box-shadow: none; text-align: left;}
    #sedes_page {
        margin: 0;
        padding: 0;
    }
    #sedes_content {
        padding: 10px;
        margin-top: 10px;
        font-size: 13px;
    }
}

@media (max-width: 400px){
    #video_stream {
        max-width: 350px;
    }
}
@media (max-width: 360px){
    #video_stream {
        max-width: 310px;
    }
}
@media (max-width: 320px){
    #video_stream {
        max-width: 270px;
    }
}
.lbl{
    font-weight: normal;
    color: #23527c;
    padding-bottom: 11px;
    margin-top: 20px;
    letter-spacing: 0.012em;
}
.radio-inline, .checkbox{
    margin-left: 10px !important;
}

#thematic{
    margin-bottom: 50px;
    text-align: left;
}
#colaborator_area{
    text-align: left;    
}

.message{
    font-weight: bold;   
    font-size: 20px;
    margin-top: 20%;
    margin-bottom: 30px;
}

#success{
    margin-top: 20%;
    margin-bottom: 30px;
}

.inscription{    
    margin-bottom: 50px;
    text-align: left;
    margin-top: 10px;
    border: 2px solid #5ebfdd;
    padding: 15px;
}
.inscription h1{  
    color: #5DBFDD;
    margin: 0 0 30px 0;
} 